<div role='tabpanel' class='tab-content px-2 pt-3'>
	<fieldset class='fieldset'>
		<legend class='fieldset-legend'>Artist Name</legend>
		<input data-manual-artist-name-input type='text' class='input w-full' placeholder='e.g. J. Cole' />
	</fieldset>

	<fieldset class='fieldset mt-6'>
		<legend class='fieldset-legend'>Preview</legend>
		<div class='flex justify-center'>
			<div class='rounded-box bg-base-300 size-44 sm:size-56'></div>
		</div>
	</fieldset>
</div>
