<li class='p-0' data-spotify-artist-result-item>
	<label class='block cursor-default'>
		<input data-spotify-artist-input type='radio' name='spotify_artist' class='peer sr-only' disabled />
		<div
			class='list-row hover:bg-base-300/50 peer-checked:bg-primary peer-checked:text-primary-content peer-checked:hover:bg-primary peer-checked:hover:text-primary-content items-center'
		>
			<img
				data-spotify-artist-image
				class='rounded-box bg-base-300 peer-checked:bg-primary-content/20 size-10 shrink-0 object-cover'
				src=''
				alt=''
				hidden
			/>
			<div
				data-spotify-artist-fallback
				class='rounded-box bg-base-300 peer-checked:bg-primary-content/20 size-10 shrink-0'
			>
			</div>
			<div data-spotify-artist-name class='text-base-content/35'>No artists found.</div>
		</div>
	</label>
</li>
