---
import AlbumGridItem from './AlbumGridItem.astro';

interface Album {
	name: string;
	imageUrl: string;
	artistName?: string;
}

interface Props {
	albums: Album[];
}

const { albums } = Astro.props;
---

<div class='grid grid-cols-3 gap-3 px-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6'>
	{albums.map((album) => <AlbumGridItem name={album.name} imageUrl={album.imageUrl} artistName={album.artistName} />)}
</div>
