---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<dialog class='modal' data-create-modal open>
	<div class='modal-box'>
		<div>
			<form method='dialog'>
				<button class='btn btn-sm btn-circle btn-ghost absolute top-2 right-2'>✕</button>
			</form>
		</div>

		<h2 class='mb-5 text-center text-xl font-semibold'>{title}</h2>
		<slot />
	</div>

	<form method='dialog' class='modal-backdrop'>
		<button>close</button>
	</form>
</dialog>
