---
import BaseModal from './BaseModal.astro';
import ManualArtistSection from './ManualArtistSection.astro';
import SpotifyArtistSection from './SpotifyArtistSection.astro';
---

<BaseModal title='Create Artist'>
	<div role='tablist' class='tabs tabs-border flex'>
		<input type='radio' name='modal_tabs' role='tab' class='tab w-full flex-1' aria-label='Manual' checked />
		<ManualArtistSection />

		<input type='radio' name='modal_tabs' role='tab' class='tab w-full flex-1' aria-label='Spotify' />
		<SpotifyArtistSection />
	</div>

	<div class='modal-action mt-6 flex gap-4 px-2'>
		<form method='dialog' class='flex-1'>
			<button class='btn btn-soft btn-secondary w-full'>Cancel</button>
		</form>
		<button class='btn btn-primary flex-1'>Save Artist</button>
	</div>
</BaseModal>
