---
interface Props {
	name: string;
	value: string;
}

const { name, value } = Astro.props;
---

<li class='p-0'>
	<label class='block cursor-pointer'>
		<input type='radio' name='spotify_artist' value={value} class='peer sr-only' />
		<div
			class='list-row hover:bg-base-300/50 peer-checked:bg-primary peer-checked:text-primary-content items-center'
		>
			<div class='rounded-box bg-base-300 peer-checked:bg-primary-content/20 size-10 shrink-0'></div>
			<div>{name}</div>
		</div>
	</label>
</li>
