@import 'tailwindcss';
@plugin 'daisyui' {
	themes: bettermusic --default;
}

@plugin 'daisyui/theme' {
	name: 'bettermusic';
	default: true;
	prefersdark: true;
	color-scheme: dark;

	--color-base-100: #020c1f;
	--color-base-200: #06132b;
	--color-base-300: #0b1b38;
	--color-base-content: #d2e2fc;

	--color-primary: #79aaf5;
	--color-primary-content: #020c1f;
	--color-secondary: #74324e;
	--color-secondary-content: #d2e2fc;
	--color-accent: #ce9346;
	--color-accent-content: #020c1f;

	--color-neutral: #111f36;
	--color-neutral-content: #d2e2fc;
	--color-info: #79aaf5;
	--color-info-content: #020c1f;
	--color-success: #66d19e;
	--color-success-content: #020c1f;
	--color-warning: #ce9346;
	--color-warning-content: #020c1f;
	--color-error: #f87272;
	--color-error-content: #020c1f;

	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;

	--size-selector: 0.28125rem;
	--size-field: 0.25rem;

	--border: 2px;

	--depth: 1;
	--noise: 0;
}
