:8081 {
    root * /home/pi/better-music/frontend/dist
    encode gzip zstd

    handle /api/* {
        reverse_proxy 127.0.0.1:8080
    }

    handle /swagger/* {
        reverse_proxy 127.0.0.1:8080
    }

	file_server
}
