<button type='button' class='btn btn-square btn-outline btn-accent' aria-label='Log out' data-logout-button>
	<svg
		xmlns='http://www.w3.org/2000/svg'
		viewBox='0 0 24 24'
		fill='none'
		stroke='currentColor'
		stroke-width='2'
		stroke-linecap='round'
		stroke-linejoin='round'
		class='block h-5 w-5 shrink-0'
		aria-hidden='true'
	>
		<path d='M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4'></path>
		<path d='M16 17l5-5-5-5'></path>
		<path d='M21 12H9'></path>
	</svg>
</button>

<script>
	import { logout } from '../../scripts/auth';

	const logoutButton = document.querySelector<HTMLButtonElement>('[data-logout-button]');

	logoutButton?.addEventListener('click', async () => {
		logoutButton.disabled = true;
		logoutButton.classList.add('btn-disabled');

		await logout();
		window.location.assign('/login');
	});
</script>
