<li class='p-0' data-spotify-album-result-item>
	<label class='block cursor-default'>
		<input data-spotify-album-input type='radio' name='spotify_album' class='peer sr-only' disabled />
		<div
			class='list-row hover:bg-base-300/50 peer-checked:bg-primary peer-checked:text-primary-content items-center'
		>
			<img
				data-spotify-album-image
				class='rounded-box bg-base-300 peer-checked:bg-primary-content/20 size-10 shrink-0 object-cover'
				src=''
				alt=''
				hidden
			/>
			<div
				data-spotify-album-fallback
				class='rounded-box bg-base-300 peer-checked:bg-primary-content/20 size-10 shrink-0'
			>
			</div>
			<div class='min-w-0'>
				<div data-spotify-album-name class='text-base-content/35 truncate'>Start searching...</div>
				<div data-spotify-album-meta class='text-base-content/35 truncate text-xs'></div>
			</div>
		</div>
	</label>
</li>
