---
import AlbumGrid from '../components/albums/AlbumGrid.astro';
import Filter from '../components/filter.astro';
import TopNav from '../components/nav/TopNav.astro';
import SearchBar from '../components/nav/SearchBar.astro';
import Layout from '../layouts/Layout.astro';

const sortOptions = [
	{ label: 'Rating', value: 'rating' },
	{ label: 'Artist', value: 'artist' },
	{ label: 'Year', value: 'year' },
];

const albums = [
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1563729784474-d77dbb933a9e.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1563729784474-d77dbb933a9e.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1563729784474-d77dbb933a9e.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
];
---

<Layout>
	<TopNav title='Ablums' />

	<SearchBar placeholder='search albums' />

	<ul class='list rounded-box shadow-md'>
		<li class='list-item'>
			<AlbumGrid rating={10} albums={albums} />
		</li>
		<li class='list-item'>
			<AlbumGrid rating={9} albums={albums} />
		</li>
		<li class='list-item'>
			<AlbumGrid rating={8} albums={albums} />
		</li>
	</ul>
</Layout>
