---
import AlbumGrid from '../components/albums/AlbumGrid.astro';
import Filter from '../components/filter.astro';
import TopNav from '../components/nav/TopNav.astro';
import SearchBar from '../components/nav/SearchBar.astro';
import Layout from '../layouts/Layout.astro';
import AddButton from '../components/AddButton.astro';
import CreateAlbumModal from '../components/create/album/CreateAlbumModal.astro';

const sortOptions = [
	{ label: 'Rating', value: 'rating' },
	{ label: 'Artist', value: 'artist' },
	{ label: 'Year', value: 'year' },
];

const albums = [
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1563729784474-d77dbb933a9e.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1563729784474-d77dbb933a9e.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1563729784474-d77dbb933a9e.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
];

const ratingGroups = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1];
---

<Layout>
	<TopNav title='Albums' />
	<div class='navbar'>
		<SearchBar placeholder='Search albums' />
	</div>
	<ul class='list rounded-box -mt-2 shadow-md'>
		{
			ratingGroups.map((rating) => (
				<li class='list-item'>
					<div class='pt-0 pb-2'>
						<span class='divider divider-center divider-primary text-xl'>
							{rating}/10 • {albums.length} albums
						</span>
						<AlbumGrid albums={albums} />
					</div>
				</li>
			))
		}
	</ul>
	<CreateAlbumModal />
	<AddButton />
</Layout>
