---
import TopNav from '../components/nav/TopNav.astro';
import Layout from '../layouts/Layout.astro';

const albums = [
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1563729784474-d77dbb933a9e.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1563729784474-d77dbb933a9e.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1563729784474-d77dbb933a9e.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
	{
		name: 'Album Name',
		imageUrl: 'https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp',
	},
];
---

<Layout>
	<TopNav searchPlaceholder='Search albums' />

	<ul class='list bg-base-200 rounded-box mt-2 shadow-md'>
		<li class='list-item'>
			<div class='grid grid-cols-3 gap-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6'>
				{
					albums.map((album) => (
						<div class='min-w-0'>
							<img
								class='rounded-box aspect-square w-full object-cover'
								src={album.imageUrl}
								alt={`${album.name} cover`}
							/>
							<div class='mt-2 text-xs font-semibold text-wrap wrap-break-word'>
								good kid, m.a.a.d city (deluxe)
							</div>
							<div class='text-base-content/60 text-xs font-semibold text-wrap wrap-break-word'>
								artistName
							</div>
						</div>
					))
				}
			</div>
		</li>
		<div class='divider divider-neutral'></div>
		<li class='list-item'>asd</li>
		<div class='divider divider-neutral'></div>
	</ul>
</Layout>
