---
import AuthLayout from '../layouts/AuthLayout.astro';
import EmailInput from '../components/auth/EmailInput.astro';
import PasswordInput from '../components/auth/PasswordInput.astro';
---

<AuthLayout title='Create Account'>
	<fieldset class='fieldset flex flex-col gap-4'>
		<label class='label'>Email</label>
		<EmailInput />
		<label class='label'>Password</label>
		<PasswordInput autocomplete='new-password' placeholder='password' />
		<button class='btn btn-primary btn-disabled mx-auto mt-4' disabled>Create account</button>
	</fieldset>
	<p class='text-base-content/70 mt-2 text-center text-sm'>
		Already have an account?
		<a href='/login' class='link link-primary'>Log in</a>
	</p>
</AuthLayout>
