---
import AuthLayout from '../layouts/AuthLayout.astro';
import RegisterForm from '../components/auth/RegisterForm.astro';
---

<AuthLayout title='Create Account'>
	<RegisterForm />
	<p class='text-base-content/70 mt-2 text-center text-sm'>
		Already have an account?
		<a href='/login' class='link link-primary'>Log in</a>
	</p>
</AuthLayout>
