---
import AuthLayout from '../layouts/AuthLayout.astro';
import LoginForm from '../components/auth/LoginForm.astro';
---

<AuthLayout title='Login'>
	<LoginForm />
	<p class='text-base-content/70 mt-2 text-center text-sm'>
		Need an account?
		<a href='/create-account' class='link link-primary'>Create account</a>
	</p>
</AuthLayout>
