<template data-artist-list-item-template>
	<li class='list-row'>
		<div>
			<img data-artist-image class='rounded-box size-10 shrink-0 object-cover' src='' alt='' />
			<div
				data-artist-fallback
				class='rounded-box bg-base-300 flex size-10 shrink-0 items-center justify-center text-sm font-semibold'
				hidden
			>
			</div>
		</div>
		<div>
			<div data-artist-name></div>
			<div data-artist-meta class='text-base-content/60 text-xs font-semibold uppercase'></div>
		</div>
	</li>
</template>
